<div class="tab-content {{#if (eq activeTab 'attributes')}}active{{/if}}">
  <div class="attributes-grid">
    {{!-- Physical --}}
    <div class="attr-column">
      <h3>Physical</h3>
      {{#each config.attributes.physical as |key|}}
        {{#with (lookup ../system.attributes key) as |attr|}}
        <div class="attr-row">
          <a data-action="rollAttribute" data-attr="{{key}}">{{localize attr.label}}</a>
          <input type="number" name="system.attributes.{{key}}.value" value="{{attr.value}}"/>
        </div>
        {{/with}}
      {{/each}}
    </div>
    
    {{!-- Social --}}
    <div class="attr-column">
      <h3>Social</h3>
      {{#each config.attributes.social as |key|}}
        {{#with (lookup ../system.attributes key) as |attr|}}
        <div class="attr-row">
          <a data-action="rollAttribute" data-attr="{{key}}">{{localize attr.label}}</a>
          <input type="number" name="system.attributes.{{key}}.value" value="{{attr.value}}"/>
        </div>
        {{/with}}
      {{/each}}
    </div>

    {{!-- Mental --}}
    <div class="attr-column">
      <h3>Mental</h3>
      {{#each config.attributes.mental as |key|}}
        {{#with (lookup ../system.attributes key) as |attr|}}
        <div class="attr-row">
          <a data-action="rollAttribute" data-attr="{{key}}">{{localize attr.label}}</a>
          <input type="number" name="system.attributes.{{key}}.value" value="{{attr.value}}"/>
        </div>
        {{/with}}
      {{/each}}
    </div>
  </div>

  <div class="derived-row">
    <div class="panel">
        <h3>Derived Stats</h3>
        <div class="grid-2">
            <div>
            <strong>Initiative:</strong> 
            {{!-- Make it clickable --}}
            <a data-action="rollInitiative" title="Roll Initiative">
                {{system.derived.initiative}}
            </a>
        </div>
            <div>
            <strong>Cyberload:</strong>
                {{system.derived.immuneLoad}} / {{system.attributes.sta.value}}
                {{#if (lt system.derived.immunePenalty 0)}}
                    <span style="color: var(--cw-fail); font-size: 0.9em;">({{system.derived.immunePenalty}})</span>
                {{/if}}
            </div>
        <div><strong>Throw Range:</strong> {{system.derived.throwRange}} m</div>
        <div><strong>Walk:</strong> {{system.derived.moveWalk}} m</div>
        <div><strong>Run:</strong> {{system.derived.moveRun}} m</div>
        <div><strong>Sprint:</strong> {{system.derived.moveSprint}} m</div>
        </div>
    </div>

    <div class="panel">
        <h3>Health</h3>
        <div class="health-track">
            {{#each healthConfig as |level|}}
            <div class="health-row">
                <label>{{level.label}} ({{level.penalty}})</label>
                <input type="checkbox" name="system.health.levels.{{level.index}}" {{checked level.checked}} value="1">
            </div>
            {{/each}}
        </div>
    </div>
  </div>
</div>