<div class="tab-content {{#if (eq activeTab 'bio')}}active{{/if}}">
  <div class="bio-grid">
    <div class="form-group">
        <label>Gender</label>
        <input type="text" name="system.bio.gender" value="{{system.bio.gender}}">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" name="system.bio.age" value="{{system.bio.age}}">
    </div>
    <div class="form-group">
        <label>Nationality</label>
        <input type="text" name="system.bio.nationality" value="{{system.bio.nationality}}">
    </div>
    <div class="form-group">
        <label>Birth Date</label>
        <input type="text" name="system.bio.birthdate" value="{{system.bio.birthdate}}">
    </div>
    <div class="form-group">
        <label>Height</label>
        <input type="text" name="system.bio.height" value="{{system.bio.height}}">
    </div>
    <div class="form-group">
        <label>Mass</label>
        <input type="text" name="system.bio.mass" value="{{system.bio.mass}}">
    </div>
    <div class="form-group">
        <label>Hair</label>
        <input type="text" name="system.bio.hair" value="{{system.bio.hair}}">
    </div>
    <div class="form-group">
        <label>Eyes</label>
        <input type="text" name="system.bio.eyes" value="{{system.bio.eyes}}">
    </div>
    <div class="form-group">
        <label>Handedness</label>
        <input type="text" name="system.bio.handedness" value="{{system.bio.handedness}}">
    </div>
  </div>
  
  <hr>
  
  <div class="bio-text-area">
      <h3>Merits</h3>
      <div class="editor-container">
        {{editor enriched.merits target="system.bio.merits" button=true editable=editable engine="prosemirror"}}
      </div>
      
      <h3>Flaws</h3>
      <div class="editor-container">
        {{editor enriched.flaws target="system.bio.flaws" button=true editable=editable engine="prosemirror"}}
      </div>

      <h3>Notes</h3>
      <div class="editor-container">
        {{editor enriched.notes target="system.bio.notes" button=true editable=editable engine="prosemirror"}}
      </div>
  </div>
</div>