<div class="tab-content {{#if (eq activeTab 'combat')}}active{{/if}}">
    <div class="combat-grid">
        
        {{!-- LEFT COLUMN: Body Chart --}}
        <div class="combat-col">
            <div class="panel">
                <h3>Body Status</h3>
                <div class="body-chart-container">
                    {{!-- Make sure you have the image at this path --}}
                    <img src="assets/body.webp" class="body-silhouette" alt="Body Diagram"/>

                    {{!-- HEAD --}}
                    <div class="body-loc loc-head">
                        <span class="armor-val" title="Armor"><i class="fas fa-shield-alt"></i> {{system.health.locations.head.armor}}</span>
                        <input type="number" name="system.health.locations.head.value" value="{{system.health.locations.head.value}}" title="Current HP"/>
                    </div>

                    {{!-- CHEST --}}
                    <div class="body-loc loc-chest">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.chest.armor}}</span>
                        <input type="number" name="system.health.locations.chest.value" value="{{system.health.locations.chest.value}}"/>
                    </div>

                    {{!-- STOMACH --}}
                    <div class="body-loc loc-stomach">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.stomach.armor}}</span>
                        <input type="number" name="system.health.locations.stomach.value" value="{{system.health.locations.stomach.value}}"/>
                    </div>

                    {{!-- ARMS --}}
                    <div class="body-loc loc-rarm">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.rArm.armor}}</span>
                        <input type="number" name="system.health.locations.rArm.value" value="{{system.health.locations.rArm.value}}"/>
                    </div>
                    <div class="body-loc loc-larm">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.lArm.armor}}</span>
                        <input type="number" name="system.health.locations.lArm.value" value="{{system.health.locations.lArm.value}}"/>
                    </div>

                    {{!-- LEGS --}}
                    <div class="body-loc loc-rleg">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.rLeg.armor}}</span>
                        <input type="number" name="system.health.locations.rLeg.value" value="{{system.health.locations.rLeg.value}}"/>
                    </div>
                    <div class="body-loc loc-lleg">
                        <span class="armor-val"><i class="fas fa-shield-alt"></i> {{system.health.locations.lLeg.armor}}</span>
                        <input type="number" name="system.health.locations.lLeg.value" value="{{system.health.locations.lLeg.value}}"/>
                    </div>
                </div>
            </div>
        </div>

        {{!-- RIGHT COLUMN: Gear & Health Track --}}
        <div class="combat-col" style="margin-left: 10px;">
            
            {{!-- Equipped Weapons (Inventory Style) --}}
            <h3>Equipped Weapons</h3>
            <div class="item-list weapon-list">
                <div class="header-row">
                    <span></span>
                    <span>Name</span>
                    <span class="center-text">Ammo</span>
                    <span class="center-text">Dmg</span>
                    <span></span>
                </div>
                {{#each inventory.weapons as |item|}}
                    {{#if item.system.equipped}}
                    <div class="item-row">
                        <div class="item-image"><img src="{{item.img}}" width="24" height="24"/></div>
                        
                        <a class="item-name" data-action="rollWeapon" data-id="{{item.id}}">{{item.name}}</a>
                        
                        <div class="center-text">
                            {{#if item.system.ammo.max}}
                            <small>{{item.system.ammo.value}} / {{item.system.ammo.max}}</small>
                            {{else}}-{{/if}}
                        </div>
                        
                        <div class="center-text">{{item.system.damage}}</div>
                        
                        <div class="item-controls">
                            <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>

            {{!-- Equipped Armor (Inventory Style) --}}
            <h3 style="margin-top: 10px;">Equipped Armor</h3>
            <div class="item-list armor-list">
                <div class="header-row">
                    <span></span>
                    <span>Name</span>
                    <span class="center-text">Soak</span>
                    <span></span>
                </div>
                {{#each inventory.armor as |item|}}
                    {{#if item.system.equipped}}
                    <div class="item-row">
                        <div class="item-image"><img src="{{item.img}}" width="24" height="24"/></div>
                        <span class="item-name">{{item.name}}</span>
                        <div class="center-text"><i class="fas fa-shield-alt"></i> {{item.system.soak}}</div>
                        <div class="item-controls">
                            <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>

            {{!-- Global Health (Moved Here) --}}
            <div class="panel" style="margin-top: 10px;">
                <h3>Global Health</h3>
                
                {{!-- Total HP Display --}}
                <div class="flexrow" style="align-items: center; justify-content: center; gap: 10px; margin-bottom: 5px;">
                    <label>Total Hit Points:</label>
                    <input type="number" name="system.health.total.value" value="{{system.health.total.value}}" style="width: 50px; text-align: center; font-weight: bold;" />
                    <span> / </span>
                    <span style="font-weight: bold;">{{system.health.total.max}}</span>
                </div>

                {{!-- Checkboxes --}}
                <div class="health-track">
                    {{#each healthConfig as |level|}}
                    <div class="health-row">
                        <label class="{{#if (gt level.state 0)}}active{{/if}}">
                            {{level.label}} ({{level.penalty}})
                        </label>
                        <a class="health-box {{level.cssClass}}" 
                           data-action="toggleHealth" 
                           data-index="{{level.index}}"
                           title="Click to cycle damage type">
                           {{{level.icon}}}
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>