<div class="tab-content {{#if (eq activeTab 'inventory')}}active{{/if}}">
    
    {{!-- Weapons List --}}
    <h3>Weapons <a data-action="createItem" data-type="weapon"><i class="fa-solid fa-plus"></i></a></h3>
    <div class="item-list">
        {{#each inventory.weapons as |item|}}
        <div class="item-row">
            <img src="{{item.img}}" width="30" height="30"/>
            <a class="item-name" data-action="rollWeapon" data-id="{{item.id}}">{{item.name}}</a>
            <span>{{item.system.damage}}</span>
            <div class="item-controls">
                <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                <a data-action="deleteItem" data-id="{{item.id}}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Cybernetics List --}}
    <h3>Cybernetics <a data-action="createItem" data-type="cybernetic"><i class="fa-solid fa-plus"></i></a></h3>
    <div class="item-list">
        {{#each inventory.cybernetics as |item|}}
        <div class="item-row">
            <img src="{{item.img}}" width="30" height="30"/>
            <span class="item-name">{{item.name}}</span>
            <span>Load: {{item.system.immuneLoad}}</span>
            <div class="item-controls">
                <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                <a data-action="deleteItem" data-id="{{item.id}}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Traits (Merits/Flaws) --}}
    <h3>Merits & Flaws <a data-action="createItem" data-type="trait"><i class="fa-solid fa-plus"></i></a></h3>
    <div class="item-list">
        {{#each inventory.traits as |item|}}
        <div class="item-row">
            <img src="{{item.img}}" width="30" height="30"/>
            <span class="item-name">{{item.name}} ({{item.system.type}})</span>
            <div class="item-controls">
                <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                <a data-action="deleteItem" data-id="{{item.id}}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- Standard Gear --}}
    <h3>Gear <a data-action="createItem" data-type="gear"><i class="fa-solid fa-plus"></i></a></h3>
    <div class="item-list">
        {{#each inventory.gear as |item|}}
        <div class="item-row">
            <img src="{{item.img}}" width="30" height="30"/>
            <span class="item-name">{{item.name}}</span>
            <div class="item-controls">
                <a data-action="editItem" data-id="{{item.id}}"><i class="fa-solid fa-edit"></i></a>
                <a data-action="deleteItem" data-id="{{item.id}}"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>