<form>
    <div class="form-group">
        <label>Firing Mode:</label>
        <select name="mode">
            {{#each modes as |val index|}}
            <option value="{{index}}">
                {{!-- Logic: Auto string OR 10+ shots = Full Auto --}}
                {{#if (or (eq val "Auto") (gte val 10))}}
                    Full Auto ({{val}})
                {{else}}
                    {{#if (eq val 1)}}Single Shot (1){{else}}Burst ({{val}}){{/if}}
                {{/if}}
            </option>
            {{/each}}
        </select>
    </div>
    
    {{#if hasAmmo}}
    <div class="form-group">
        <label>Ammo Remaining:</label>
        <div style="text-align: right; {{#if (eq ammo 0)}}color:red;{{/if}}">
            {{ammo}}
        </div>
    </div>
    {{/if}}
    
    <p style="font-size: 0.9em; margin-top: 5px;">
        Select your rate of fire. This will automatically deduct ammo.
    </p>
</form>