<div class="cw-chat-roll {{#if isBotch}}botch{{/if}}">
  
  {{!-- HEADER: Icon & Name --}}
  <div class="roll-header">
    {{#if img}}
      <img src="{{img}}" class="roll-icon"/>
    {{/if}}
    <span class="roll-title">{{label}}</span>
  </div>
  
  {{!-- SUB-HEADER: The Formula & Tags --}}
  <div class="roll-meta">
    <div class="formula">{{formula}}</div>
    <div class="tags">
      <span title="Target Number">TN 7</span>
      {{#if specialized}}
        <span class="tag spec" title="Specialized (10s Explode)">
          <i class="fa-solid fa-star"></i> Spec
        </span>
      {{/if}}
      {{#if (ne woundPen 0)}}
        <span class="tag pain">
          Penalty {{woundPen}}
        </span>
      {{/if}}
    </div>
  </div>

  {{!-- DICE RESULTS --}}
  <div class="roll-result">
    {{#each roll.terms as |term|}}
      {{#if term.faces}}
        {{#each term.results as |res|}}
          <span class="die {{#if (gte res.result 7)}}success{{/if}} {{#if (eq res.result 1)}}one{{/if}} {{#if (eq res.result 10)}}ten{{/if}}">{{res.result}}</span>
        {{/each}}
      {{/if}}
    {{/each}}
  </div>

  {{!-- TOTAL --}}
  <div class="roll-total">
    {{#if isBotch}}
      <span class="botch-text">BOTCH!</span>
    {{else}}
      <span class="success-text">{{roll.total}} Successes</span>
    {{/if}}
  </div>
</div>