<form class="cw cw-item-sheet flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img"/>
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="grid-3">
        <label>Duration</label>
        <input name="system.duration.value" type="number" value="{{system.duration.value}}"/>
        <select name="system.duration.type">
          <option {{#if (eq system.duration.type "turns")}}selected{{/if}}>turns</option>
          <option {{#if (eq system.duration.type "minutes")}}selected{{/if}}>minutes</option>
          <option {{#if (eq system.duration.type "hours")}}selected{{/if}}>hours</option>
        </select>
        <label>Cost</label><input name="system.cost" type="number" value="{{system.cost}}"/>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <h3>On Use (JSON)</h3>
    <textarea name="system.onUse" rows="5">{{json system.onUse}}</textarea>

    <h3>Side Effects (JSON)</h3>
    <textarea name="system.sideEffects" rows="5">{{json system.sideEffects}}</textarea>

    <h3>Description</h3>
    <textarea name="system.description" rows="6">{{system.description}}</textarea>
  </section>
</form>
