<div class="tab-content" data-group="sheet" data-tab="skills">
  <div class="skills-list">
    {{#each system.skills as |skill key|}}
    <div class="skill-item">
      <div class="skill-name">
        <a data-action="rollSkill" data-key="{{key}}">{{skill.label}}</a>
        <span class="skill-attr">({{skill.attr}})</span>
      </div>
      <div class="skill-controls">
        <input type="number" name="system.skills.{{key}}.value" value="{{skill.value}}"/>
        <a class="specialized-toggle {{#if skill.specialized}}active{{/if}}" data-action="toggleSpecialized" data-key="{{key}}" title="Specialized (Exploding 10s)">
          <i class="fa-solid fa-star"></i>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>