<div class="cw-item-sheet">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" width="64" height="64"/>
    <div class="header-fields">
        <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" value="{{item.name}}"/>
        </div>
    </div>
  </header>

  <nav class="tabs">
      {{#each tabs as |tab|}}
      <a class="{{#if (eq ../activeTab tab.id)}}active{{/if}} item" data-action="changeTab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
        <i class="{{tab.icon}}"></i> {{tab.label}}
      </a>
      {{/each}}
  </nav>

  <div class="scrollable-content">
      {{!-- Generic Header --}}
      <div class="grid-2">
          <div class="form-group">
              <label>Quantity</label>
              <input type="number" name="system.quantity" value="{{system.quantity}}"/>
          </div>
          <div class="form-group">
              <label>Weight</label>
              <input type="number" name="system.weight" value="{{system.weight}}"/>
          </div>
          <div class="form-group">
              <label>Price</label>
              <input type="number" name="system.price" value="{{system.price}}"/>
          </div>
          <div class="form-group">
              <label>Legality</label>
              <input type="text" name="system.legality" value="{{system.legality}}"/>
          </div>
      </div>

      <hr>

      {{!-- Weapon Specifics --}}
      {{#if (eq item.type "weapon")}}
      <div class="grid-2">
          <div class="form-group">
              <label>Damage Code</label>
              <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d10"/>
          </div>
          <div class="form-group">
              <label>Damage Type</label>
              <select name="system.type">
                  {{selectOptions config.damageTypes selected=system.type}}
              </select>
          </div>
          <div class="form-group">
              <label>Accuracy</label>
              <input type="number" name="system.attackBonus" value="{{system.attackBonus}}" placeholder="0"/>
          </div>
          <div class="form-group">
              <label>Range</label>
              <input type="text" name="system.range" value="{{system.range}}"/>
          </div>
          <div class="form-group">
              <label>ROF</label>
              <input type="text" name="system.rof" value="{{system.rof}}" placeholder="1"/>
          </div>
          <div class="form-group">
              <label>Ammo (Cur / Max)</label>
              <div class="flexrow">
                  <input type="number" name="system.ammo.value" value="{{system.ammo.value}}" placeholder="0" data-dtype="Number"/>
                  <span> / </span>
                  <input type="number" name="system.ammo.max" value="{{system.ammo.max}}" placeholder="0" data-dtype="Number"/>
              </div>
          </div>
          <div class="form-group">
              <label>Skill</label>
              <select name="system.skill">
                  {{selectOptions config.skills selected=system.skill labelAttr="label"}}
              </select>
          </div>
          <div class="form-group">
            <label>Attribute</label>
            <select name="system.attribute">
            {{!-- Use the new attributeOptions list --}}
                {{selectOptions attributeOptions selected=system.attribute}}
            </select>
        </div>
      </div>
      {{/if}}

      {{!-- Armor Specifics --}}
      {{#if (eq item.type "armor")}}
      <div class="grid-2">
          <div class="form-group">
              <label>Soak Value</label>
              <input type="number" name="system.soak" value="{{system.soak}}"/>
          </div>
          <div class="form-group">
              <label>Penalty</label>
              <input type="number" name="system.penalty" value="{{system.penalty}}"/>
          </div>
          <div class="form-group">
              <label>Equipped</label>
              <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
          </div>
      </div>
      <div class="form-group">
          <label>Coverage</label>
          <div class="coverage-grid" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px;">
              {{#each coverage}}
              <label class="checkbox">
                  <input type="checkbox" name="coverage.{{this.key}}" {{checked this.checked}}/>
                  {{this.label}}
              </label>
              {{/each}}
          </div>
      </div>
      {{/if}}

      {{!-- Cybernetic Specifics --}}
      {{#if (eq item.type "cybernetic")}}
      <div class="grid-2">
          <div class="form-group">
              <label>Immune Load</label>
              <input type="number" name="system.immuneLoad" value="{{system.immuneLoad}}"/>
          </div>
          <div class="form-group">
              <label>Surgery DC</label>
              <input type="number" name="system.surgeryDC" value="{{system.surgeryDC}}"/>
          </div>
          <div class="form-group">
              <label>Surgery Cost</label>
              <input type="number" name="system.surgeryCost" value="{{system.surgeryCost}}"/>
          </div>
          <div class="form-group">
              <label>Installed (Active)</label>
              <input type="checkbox" name="system.active" {{checked system.active}}/>
          </div>
      </div>
      {{/if}}

      {{!-- Traits --}}
      {{#if (eq item.type "trait")}}
      <div class="grid-2">
          <div class="form-group">
              <label>Type</label>
              <select name="system.type">
                  {{selectOptions traitTypes selected=system.type}}
              </select>
          </div>
          <div class="form-group">
              <label>Cost</label>
              <input type="number" name="system.cost" value="{{system.cost}}"/>
          </div>
      </div>
      {{/if}}

      <div class="editor-container">
        <label>Description</label>
        <prose-mirror name="system.description" value="{{system.description}}">
            {{{enrichedDescription}}}
        </prose-mirror>
      </div>
  </div>
  {{> "systems/colonial-weather/templates/parts/active-effects.hbs"}}
</div>

